@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: hsl(225deg 6.06% 87.06%);
  color: #4a4a4a;
  user-select: none;
  position: relative;
  cursor: default;
  font-family: "Roboto", Helvetica, Arial, "Hiragino Sans", sans-serif;
  line-height: 28px;
}