:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(225deg 6.06% 87.06%);
  color: #4a4a4a;
  user-select: none;
  position: relative;
  cursor: text;
  font-family: "Roboto", Helvetica, Arial, "Hiragino Sans", sans-serif;
  /* font-size: 15px; */
  line-height: 28px;
  color: var(--page-text-color, #4a4a4a);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: disc;
  text-align: left;
  margin: 0;
}

/* li.doc-message.latest {
  border-left: 4px solid green;
}

li.midium {
  border-left: 2px solid green;
}

li.old {
  border-left: none;
} */

li:focus {
  outline: none;
}

span:focus {
  outline: none;
}

form {
  margin: 1em auto 0 auto;
  width: 80%;
  height: 80px;
  display: flex;
  border: 1px solid #353b4899;
  border-radius: 8px;
  background-color: #fefefe;
  transition: border-color 0.2s ease-in-out;
}

form:focus-within {
  border: 1.5px solid #4a4a4a;
}

input {
  flex: 1;
  height: auto;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  transition: border-color 0.25s;
  background-color: transparent;
}

button {
  height: 100%;
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
}

input:focus,
button:hover,
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}